@charset "UTF-8";

/*================================================================
#about
================================================================*/
.about {
  @extend %section;
  @include mq(sm) {
    overflow: hidden;
  }

  &__container {
    @extend %container;
    max-width: 1140px;
    position: relative;
  }

  &__background {
    background: url("../images/pc/about-logo.png") center center / cover;
    margin-top: 29px;
    width: 560px;
    height: 317px;
    position: absolute;
    right: 0px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    margin-top: 101px;
  }

  &__title {
    @extend %title;

    span {
      position: relative;

      &::after {
        position: absolute;
        bottom: 3px;
        left: 0;
        content: '';
        width: 100%;
        height: 3px;
        background: $key-color-black;
      }
    }
  }

  &__subtitle {
    @extend %title-sub;
  }

  &__right {
    margin-top: 169px;
    width: auto;
    max-width: 658px;
  }

  &__description {
    font-family: $font-family-noto;
    line-height: 38px;

    & + & {
      margin-top: 24px;
    }
  }
}