@charset "UTF-8";

/*================================================================
#footer
================================================================*/
.footer {
  background-color: $key-color-ash;
  padding-left: 180px;
  height: auto;

  @include mq(sm) {
    overflow: hidden;
  }

  &__container {
    background: #212121;
    padding: 100px 0 50px 166px;
    display: flex;
    align-items: center;


    a {
      padding-left: 18px;

      img {
        width: 22px;
        height: 22px;
      }
    }
  }

  &__at {
    color: $key-color-white;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.15em;
    padding-right: 50px;
  }
}
