@charset "UTF-8";

/*================================================================
#services
================================================================*/
.services {
  background-color: $key-color-ash;
  height: auto;
  padding: 114px 120px 112px 120px;

  @include mq(sm) {
    overflow: hidden;
  }

  &__container {
    @extend %container;
  }

  &__box {
    text-align: right;
    margin-right: 56px;
  }

  &__title {
    @extend %title;
  }

  &__subtitle {
    @extend %title-sub;
  }

  &__contents {
    background-color: $key-color-black;
    display: flex;
    color: $key-color-white;
    margin-top: 51px;

    div {
      padding: 40px 40px 0 31px;
      height: 568px;
      width: 100%;

      dt {
        line-height: 22px;
        letter-spacing: .04em;

        span {
          display: inline-block;
          font-size: 20px;
          font-family: $font-family-noto;
          font-weight: 500;
          line-height: 29px;
          letter-spacing: .04em;
          margin-top: 10px;
        }
      }

      dd {
        font-family: $font-family-noto;
        line-height: 27px;
        margin-top: 331px;
      }
    }
  }

  &__item01 {
    background: url("../images/pc/services1.png") center center / cover;
  }

  &__item02 {
    background: url("../images/pc/services2.png") center center / cover;
  }

  &__item03 {
    background: url("../images/pc/services3.png") center center / cover;
  }

  &__skills {
    display: flex;
    width: 755px;
    margin: 44px auto 0;

    @include mq(sm) {
      display: block;
      width: 100%;
    }
  }

  &__other {
    color: $key-color-black;
    display: inline-block;
    font-size: 18px;
    letter-spacing: .04em;
    line-height: 25px;
    margin-right: 50px;
    position: relative;

    &::after {
      position: absolute;
      bottom: 2px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: $key-color-black;
    }
  }

  &__languages {
    font-family: $font-family-noto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: .14em;
  }
}