@charset "UTF-8";
/*================================================================
#works
================================================================*/
.swiper-container {
  width: 600px;
  height: 400px;
  margin-bottom: 200px;
}

