@charset "UTF-8";

/*================================================================
#works
================================================================*/
.works {
  background-color: #FAFAFA;
  height: auto;
  padding: 122px 0px 125px 180px;

  &__container {
    // @extend %container;
    max-width: 1200px;
  }

  &__title {
    @extend %title;
  }

  &__subtitle {
    @extend %title-sub
  }

}

.swiper {

  &-container {
    width: 1260px;
    height: 395px;
    margin-top: 56px;
  }

  &-inner {
    width: 460px;
    height: 303px;
  }

}
