@charset "UTF-8";

/*================================================================
common
================================================================*/
@include mq(sm) {
  .is-pc {
    display: none;
  }
}

@include mq(md) {
  .is-sp {
    display: none;
  }
}

body {
  background: #000;
  color: $font-black;
  letter-spacing: $letter-spacing;
  font-family: $font-family-alata;
  position: relative;
  cursor: none;
  z-index: 0;
}

.cursor,
.follower {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0; 
  pointer-events: none;
}

.cursor {
  width: 8px;
  height: 8px;
  // background-color: #000;
  background: #fff;
  z-index: 1001;


  &.is-active {
    // mix-blend-mode: difference;
    // background-color: #ffffff;
    transform: scale(3);
  }
}

.test {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  pointer-events: none;
  mix-blend-mode: exclusion;
}

.follower {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(#fdfe00, .5);
  z-indes: 1000;
  transition: transform ease .1s;
  text-align: center;
  span {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    transform: scale(0);
  }
  &.is-active {
    mix-blend-mode: exclusion;
    color: #000;
    display: none;
  }
}

body.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
}

img {
  width: 100%;
}

%section {
  background-color: $key-color-ash;
  height: auto;
  padding: 0 120px 0 180px;
}

%container {
  max-width: 1200px;
  margin: 0 auto;
}

%title {
  color: $key-color-black;
  display: inline-block;
  font-size: $section-title-font-size;
  letter-spacing: .06em;
  line-height: 55px;
  position: relative;

  &::after {
    position: absolute;
    bottom: 3px;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    background: $key-color-black;
  }
}

%title-sub {
  color: $sub-title-color-ash;
  font-family: $font-family-noto;
  margin-top: 13px;
  line-height: 24px;
  letter-spacing: .12em;
}

%small-letters {
  color: $key-color-black;
  font-family: $font-family-noto;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .04em;
}

%modal-letter {
  color: $font-black;
  font-family: $font-family-noto;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: .08em;
}

